body {
    padding-top: 10px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: url('../img/fundo.png') no-repeat;
    background-attachment: fixed;
    height: 100%
}

footer {
    margin: 50px 0;
}

h1.page-header{
    text-align: right;
    font-family: 'Indie Flower', cursive;
    font-size: 80px;
    padding-top: 20px;
    padding-bottom: 30px;
    border: 0px solid #000;
}

hr.sep {
    width: 60%;
}

.page{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0px solid #000;

}

.page p{
    text-align: justify
}

.btn-primary{
    background: rgba(44, 44, 44, 0.4);
    border: rgba(44, 44, 44, 0.8);
    color: rgba(44, 44, 44, 0.9);
}

.btn-primary:hover{
    background: rgba(44, 44, 44, 0.6);
    border: rgba(44, 44, 44, 0.8);
    color: rgba(255, 255, 255, 0.7);
}



hr.sep{
    width: 50%;
}

ul{
    border:0 solid black;
    width: 60%;
    margin-left: 300px;
    list-style-image: url('../img/icon.png');
}
li a{
    padding: 5px 0 5px 0;
}
ul li a{
     font-family: Verdana;
     font-size: 26px;   
     color: #7A7A7A;
     text-decoration: none;
     padding: 5px;
}

ul li a:hover {
    text-decoration: none;

    padding: 5px;
}

ul li a:visited {
    text-decoration: none;
    color: #7A7A7B;
    padding: 5px;
}

.content{
    border: 0px solid black;
    width: 60%;
    margin-left: 300px;
}

.content p{
    font-size: 20px;
}

